.wrapper {
    width: 80%;
    margin: 15px auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.contentItem {
    text-align: center;
    padding: 15px;
    width: 28%;
}

button {
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
